{% extends "base.html" %} 
{% load bootstrap4 %}
{% load crispy_forms_tags %} 
{% load static %}
{%block body %} 

<div class="container">
    <div class="row">
        <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
            <div>
                <div class="text-center">
                    <h1 style="text-align: center;font-size: 30px;">تسجيل الدخول</h1>
                    <p style="text-align: center;">ليس لديك حساب؟&nbsp;<a href="{% url 'accounts:signup' %}">الانضمام الينا</a></p>
                   <div>
                        <div id="tooltip" style="color: #0d6efd;"></div>
                        <div class="tab-content" style="margin-top: 24px;">
                            <div class="tab-pane fade" role="tabpanel" id="tab-1">
                                <section>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-auto">
                                                <div class="card mb-5">
                                                    <div class="card-body d-flex flex-column align-items-center" style="margin-top: 12px;padding-top: 36px;">
                                                        <form class="text-center" method="post" style="width: 300px;">
                                                            <div class="mb-3"><input class="form-control" type="text" name="PUsername" placeholder="اسم المستخدم" required></div>
                                                            <div class="mb-3"><input class="form-control" type="password" name="PPassword" placeholder="كلمة المرور" required></div>
                                                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit"  >تسجيل الدخول</button>
                                                                <a href="{% url 'password_reset' %}" target="_blank"><br><span style="color: rgba(33, 37, 41, 0.75);">نسيت كلمة المرور؟</span></a></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="tab-2">
                                <section>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-auto">
                                                <div class="card mb-5">
                                                    <div class="card-body d-flex flex-column align-items-center" style="margin-top: 12px;padding-top: 36px;">
                                                        <form class="text-center" action="../Lab/l-dashboard.html" method="post" style="width: 300px;">
                                                            <div class="mb-3"><input class="form-control" type="text" name="LUsername" placeholder="اسم المستخدم" required></div>
                                                            <div class="mb-3"><input class="form-control" type="password" name="LPassword" placeholder="كلمة المرور" required></div>
                                                            <div class="mb-3">
                                                                <button class="btn btn-primary d-block w-100" type="submit"  >تسجيل الدخول</button>
                                                                <a href="{% url 'password_reset' %}" target="_blank"><br><span style="color: rgba(33, 37, 41, 0.75);">نسيت كلمة المرور؟</span></a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade show active" role="tabpanel" id="tab-3">
                                <section>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-auto">
                                                <div class="card mb-5">
                                                    <div class="card-body d-flex flex-column align-items-center" style="padding-top: 36px;margin-top: 12px;">
                                                        <form class="text-center"  method="post" style="width: 300px;">
                                                            {% csrf_token %}
                                                           
                                                            <div class="mb-3">
                                                            {{ form.username|as_crispy_field }}
                                                                {% comment %} <input class="form-control" type="text" name="PUsername" placeholder="اسم المستخدم" required> {% endcomment %}
                                                            </div>
                                                            <div class="mb-3">
                                                            {{ form.password|as_crispy_field }}
                                    
                                                                {% comment %} <input class="form-control" type="password" name="PPassword" placeholder="كلمة المرور" required> {% endcomment %}
                                                            </div>
                                                            <div class="mb-3">
                                                                <button class="btn btn-primary d-block w-100" type="submit"  >تسجيل الدخول</button>
                                                                <a href="{% url 'password_reset' %}" target="_blank"><br><span style="color: rgba(33, 37, 41, 0.75);">نسيت كلمة المرور؟</span></a></div>
                                                        {% if errors %}
                                                        <p style="color:red">Your username and password didn't match. Please try again.</p>
                                                        {% endif %} 
                                                        </form>

                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
            <div class="d-flex justify-content-center"><img class="img-fluid" src="{% static '/assets/img/Login-pana.svg' %}" style="width: 500px;"></div>
        </div>
    </div>
</div>
{# Assumes you setup the password_reset view in your URLconf #}

{% endblock body%}
