{% extends "base.html" %} 

{% load static %}
{% load crispy_forms_tags %} 
{% load bootstrap4 %}

{% block body %}
<div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="{% static 'assets/img/Reset%20password-bro.svg' %}" width="16" height="300"></div>
        </div>
        
        <div class="col-md-6 d-md-flex flex-column align-items-md-center justify-content-xl-center">

        {% if validlink %}
            <p>الرجاء إدخال (وتأكيد) كلمة المرور الجديدة الخاصة بك.
            </p>
            <form action="" method="post">
            {% csrf_token %}
            <div style="max-width: 350px;">
                {{ form.new_password1|as_crispy_field }}
                {% comment %} <input class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" type="password" style="width: 300px;height: 38px;margin: 8px;" required placeholder="ادخل كلمة المرور الجديده" name="Password"> {% endcomment %}
            </div>
            <div>
                {{ form.new_password2|as_crispy_field }}
                {% comment %} <input class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" type="password" style="width: 300px;height: 38px;margin: 8px;" placeholder="تاكيد كلمة المرور" required name="ConfirmPassword"> {% endcomment %}
            </div>
            <div>
                <button class="btn btn-primary" type="submit" style="width: 300px;margin: 16px;">تغيير كلمة المرور</button></div>
                
            </form>
            {% else %}
            <h1>فشل إعادة تعيين كلمة المرور
            </h1>
            <p>
                رابط إعادة تعيين كلمة المرور غير صالح ، ربما لأنه تم استخدامه بالفعل. يرجى طلب إعادة تعيين كلمة المرور الجديدة.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}