{% extends 'patient.html' %}
{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %} 

{% block body %}

    <div class="col">
        <div class="container-fluid">
                
            <div class="row g-0 flex-column gutters" style="margin-top: 16px;">
                <div class="col-11 align-self-center">
                    <div class="row gutters" style="margin-top: 8px;">
                        <form method="post">
                            {% csrf_token %}
                            
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h6 class="text-primary mb-2">معلومات المريض</h6>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="fullName">اسم المريض</label>
                            {{ form.first_name|as_crispy_field }}
                                
                            {% comment %} <input type="text" class="form-control" id="fullName" value="{{user.first_name}}"></div> {% endcomment %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="date">تاريخ الميلاد</label>
                                {{ form.birth_date|as_crispy_field }}
                                {% comment %} <input id="birthDate" class="form-control" type="date" readonly=""> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="ssnID">الرقم القومي</label>
                                {{ form.nid|as_crispy_field }}
                                
                                {% comment %} <input type="text" id="ssnID" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group"><label class="form-label" for="state">المحافظة</label>
                            {{ form.city|as_crispy_field }}
                                
                                {% comment %} <input type="text" id="state" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="gender">النوع</label>
                                {{ form.gender|as_crispy_field }}
                                
                                {% comment %} <input type="text" id="gender" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="phone">رقم الهاتف</label>
                            {{ form.phone|as_crispy_field }}
                                
                                {% comment %} <input type="tel" id="phone" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="row gutters" style="margin-top: 8px;">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h6 class="text-primary mt-3 mb-2">معلومات تسجيل الدخول</h6>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="userName">اسم المستخدم</label>
                            {{ form.username|as_crispy_field }}
                                
                                {% comment %} <input type="text" id="userName" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="Email">البريد الالكتروني</label>
                            {{ form.email|as_crispy_field }}
                                
                                {% comment %} <input type="email" id="Email" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="password">كلمة المرور</label>
                            {{ form.password1|as_crispy_field }}
                                
                                {% comment %} <input type="password" id="password" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="passwordConfirmation">تأكيد كلمة المرور</label>
                            {{ form.password2|as_crispy_field }}
                                
                                {% comment %} <input type="password" id="passwordConfirmation" class="form-control" readonly=""> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 16px;">
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit" id="submit-1" name="submit" style="margin-left: 8px;" >حفظ التعديل </button>
                                <a class="btn btn-danger" role="button" href="{% url 'medicalAnalysis:p_delete' request.user.slug %}">حذف الحساب</a>
                
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    </div>
   

    <script>
//////////////////////logout
function logout() {
    window.location.href = "../Homepage/Home.html";
}

/////////////////////////////delete

        function delette() {
        const userInput = document.getElementById("delete");
            if (userInput.value !="احذف الحساب") {
                document.getElementById("deletemassage").innerHTML="قم بكتابة النص بطريقه صحيحه"
            }
            else
            {
                window.location.href = "../Homepage/Home.html";
            }
        }

    //////////////edit

        function makeEditable() {
  var form1 = document.getElementById("fullName");
  var form2 = document.getElementById("birthDate");
  var form3 = document.getElementById("ssnID");
  var form4 = document.getElementById("nationality");
  var form5 = document.getElementById("state");
  var form6 = document.getElementById("gender");
  var form7 = document.getElementById("phone");
  var form8 = document.getElementById("userName");
  var form9 = document.getElementById("Email");
  var form10 = document.getElementById("password");
  var form11 = document.getElementById("passwordConfirmation");

 


  form1.removeAttribute("readonly");
  form2.removeAttribute("readonly");
  form3.removeAttribute("readonly");
  form4.removeAttribute("readonly");
  form5.removeAttribute("readonly");
  form6.removeAttribute("readonly");
  form7.removeAttribute("readonly");
  form8.removeAttribute("readonly");
  form9.removeAttribute("readonly");
  form10.removeAttribute("readonly");
  form11.removeAttribute("readonly");



  const myButton = document.getElementById("submit-1");
            myButton.innerHTML = "حفظ";
}
    </script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
   

{% endblock body %}